.purple{
    background-color: #8F44D3;
}
.lavender{
    background-color: #D4B6FB;
}
.darkblue{
    background-color: #11497C;
}
.blue{
    background-color: #324881
}
.bgcarousel{
    background-image:url("./assets/backgroundimages/hands.png");
    background-position: center;
    background-repeat: no-repeat
    ;
    background-size: cover;
}
.Logo{
    background-image:url("./assets/logo.png");
    background-position: center;
    background-repeat: no-repeat
    ;
    background-size: contain;
}
.Circle{
    
    background-position: center;
    background-repeat: no-repeat
    ;
    background-size: contain;
}
button{
    min-width: fit-content;
}
ul > li{
    color:white;
}
.footerlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.active{
  scale: 1.1;
}
/* .headerhover:hover{
  background-color: #11497C;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} */
.headerhover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}
h4{
    color:white;
}
.buttonhover:hover{
    background-color: #7637b0 !important;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lightblue{
    background-color: #DCE6FF;
    color: #11497C
    
}
.darkpurple{
    background-color: #8F44D3;
    color: white;
}
.pulse{
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes pulse {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.25;
    }
    100%{
        scale: 1;
    }
}
.underline{
    border-bottom: 3px solid #ffffff;
}
.underline:hover{
    border-bottom: 3px solid #000000;
}