.purple{
    background-color: #8F44D3;
}
.lavender{
    background-color: #D4B6FB;
}
.darkblue{
    background-color: #11497C;
}
.blue{
    background-color: #324881
}
.bgcarousel{
    background-image:url("./assets/backgroundimages/hands.png");
    background-position: center;
    background-repeat: no-repeat
    ;
    background-size: cover;
}
.Logo{
    background-image:url("./assets/logo.png");
    background-position: center;
    background-repeat: no-repeat
    ;
    background-size: contain;
}
.Circle{
    
    background-position: center;
    background-repeat: no-repeat
    ;
    background-size: contain;
}
button{
    min-width: fit-content;
}
ul > li{
    color:white;
}
.footerlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.active{
  scale: 1.1;
}
/* .headerhover:hover{
  background-color: #11497C;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} */
.headerhover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}
h4{
    color:white;
}
